[Desktop Entry]
Version=1.0
Type=Application
Name=Web Browser
Comment=Browse the web
Icon=web-browser
Exec=exo-open --launch WebBrowser %u
NoDisplay=true
OnlyShowIn=XFCE;
Categories=Network;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
Terminal=false
